body {
	padding: 0!important;
	background: #171a1c!important;
	/*text-align: center;*/
}


#hashbtn {
	width: 470px;
	height: 64px;
	background-color: #028ed2;
	font-weight: 600;
	border:none;
	position: absolute;
	border-radius: 20px;
	color: white;
	bottom: 7px;
	left: 20px;
}

.banker_s {
	margin-top: 1px;
	width: 270px;
	height: 25px;
}

.left_s {
	/*text-align: center;*/
	float: left;
}

.right_s {
	float: right;
}
.score {
	font-size: 12px;
	color: yellow;
	padding-left: 110px;
	position: absolute;
	right: 0;
	width: 400px;
	height: 80px;
	/*opacity: 0.3;*/
	right: 6px;
}

.left_s {
	width: 50%;
	padding-left: 15px;
	color: yellow;
	font-size: 1.5em;
}

.right_s {
	padding-right: 20px;
	width: 50%;
	color: yellow;
	text-align: right;
	font-size: 1.5em;
}


.game {
	max-width: 900px;
	min-width: 900px;
	height: 600px;
	margin: auto;
	background: url('../images/result_bg.png');

	background-size: cover;
	position: relative;

}


.chips_top::-webkit-scrollbar {
    display: none;
} 

.chips_top {
	height: 240px;
	overflow-y: scroll;
	width: 100%;
	/*opacity: 0.8;*/
	background: url('../images/top_chips_bg.png');
	background-size: contain;
	/*background: no-repeat;*/
}


.chips {
	position: relative;
	height: 24px;
	width: 24px;


}

.chips img {
	width: 99%;
	position: absolute;
	/*opacity: 0;*/
}

.c_holder {
	/*height: 238px;*/
	width : 23.66px;
	float: left;
	overflow: hidden;
}

.hidden {
	opacity: 0;
}

.cb_holder{
	width: 45px;
	height: 275px;
	float: left;
}

.chips_bottom {
	width: 100%;
	height: 275px;
	opacity: 0.8;
	margin-top: 5px;
}

.chipsB {
	position: relative;
	height: 46px;
	width: 44px; 
}


.chipsB img {
	width: 100%;
	position: absolute;
	top: 0;
}

.top_chips {
	height: 24px;
	width: 24px;
	border-radius: 100px;
	position: relative;
}

.banker_obj_chips {
	border:4px solid #de4555;
}


.player_obj_chips {
	border:4px solid #377ffb;
}

.banker_pair_dot {
	position: absolute;
	height: 9px;
	width: 9px;
	border-radius: 100px;
	background-color: red;
	top: -3px;
	left: -3px;
	z-index: 5;
	box-shadow: 1px 1px 2px #fefefe;
}



.player_pair_dot {
	position: absolute;
	height: 9px;
	width: 9px;
	border-radius: 100px;
	background-color: #6093eb;
	bottom: -3px;
	right: -3px;
	z-index: 5;
	box-shadow: 1px 1px 2px #fefefe;
}

.natural_dot {
	border-radius: 100px;
	margin: 4.5px;
	height: 7px;
	width: 7px;
	background-color: #a09f9f;


}

.tie_line {
	transform: rotateZ(45deg);
    width: 4px;
    height: 25px;
    background-color: #51b5a6;
    position: absolute;
    top: -4px;
    left: 6px;
}








@media only screen and (max-width: 650px) {
	.game {
		zoom : 0.53;
	}
}

@media only screen and (min-width: 650px) and (max-width: 890px){
	.game {
		zoom : 0.7;
	}
}

